Package: com.favware.lotusdarkextra13
Name: Lotus Dark Extra 13
Architecture: iphoneos-arm
Depends: firmware (>=7.0), mobilesubstrate
Description: Even more icons for Lotus Dark
Maintainer: Favna <support@favware.tech>
Author: Favna <support@favware.tech>
Section: Themes
Depiction: https://favna.github.io/cydia/depictions/?p=com.favware.lotusdarkextra13
SileoDepiction: https://favna.github.io/cydia/sileodepictions/lotusdarkextra13.json
Version: 1.0.1
