Package: com.favware.lotusdarkextra
Name: Lotus Dark Extra
Architecture: iphoneos-arm
Depends: firmware (>=7.0), mobilesubstrate
Description: Extra Lotus Dark Icons
Maintainer: Favna <support@favware.tech>
Author: Favna <support@favware.tech>
Section: Themes
Depiction: https://favna.github.io/cydia/depictions/?p=com.favware.lotusdarkextra
SileoDepiction: https://favna.github.io/cydia/sileodepictions/lotusdarkextra.json
Version: 1.1.0
