Package: com.favware.lotusdarkextra
Name: Lotus Dark Extra
Architecture: iphoneos-arm
Depends: firmware (>=7.0), mobilesubstrate
Description: Extra Lotus Dark Icons
Maintainer: Favna <support@favna.xyz>
Author: Favna <support@favna.xyz>
Section: Themes
Depiction: https://favna.github.io/cydia/depictions/?p=com.favware.lotusdarkextra
Version: 1.1.0
